@import url(https://fonts.googleapis.com/css?family=Orbitron);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkkhaki;
}

.Orbitron {
    font-family: Orbitron;
}

.title {
    color: rgb(0, 139, 132);
    margin-left: 40%;
    font-size: 36px;
    font-family: Arial Black;
    letter-spacing: 1px;
    user-select: none;
}

/* high scores ---------------------------------------- */

#viewHighScores {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: #4CAF50;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 40%;
  margin-bottom: 20px;
  vertical-align: middle;
  font-family: 'Gill Sans', 'Gill Sans MT' 
}

#viewHighScores span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  user-select: none;
}

#viewHighScores span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#viewHighScores:hover span {
  padding-right: 25px;
  }
  
  #viewHighScores:hover span:after {
  opacity: 1;
  right: 0;
  }

  #highScoresTable {
    position: fixed;
    top: 0;
    background-color: #fefefe;
    width: 100%;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  @keyframes slideIn {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    height: 35px;
  }
  
  .modal-body {
      padding: 2px 16px;
      display: flex;
      flex-direction: row;
      flex: 1;
      height: fit-content
    }

    .scoreTable {
        flex: .33;
        border: 1px solid black;
    }

    .scoreTable caption {
        letter-spacing: 2px;
        font-family: monospace;
        font-size: 30px;
    }

    .scoreTable th {
        color: red;
    }

    .scoreTable td {
        text-align: center;
    }
  

  #closeHighScores {
    margin-left: 40%;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  #closeHighScores:hover,
  #closeHighScores:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

 

/* level selection ------------------------------------- */

#newGame {
    margin-left: 40%;
}

.levelSelectionButtons {
    display: flex;
    flex-direction: column;
}

.levelSelectionButtons h3 {
    font-size: 24px;
    color: darkred;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
    user-select: none;
}

.levelSelectionButton {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    width: 35%
  }
  
  /* Hide the browser's default radio button */
  .levelSelectionButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .levelSelectionButton:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .levelSelectionButton input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .levelSelectionButton input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .levelSelectionButton .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

form input {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  margin-Top: 10px;
  vertical-align: middle;
}

  /* Game rules ----------------------------------- */

  #gameRules {
    opacity: 0;
    border-bottom: 2px dotted red;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
  }


  /* Game stats ----------------------------------- */

  #gameStats {
    opacity: 0;
    border-bottom: 2px dotted blue;
    padding-Top: 10px;
    padding-bottom: 20px;
  }

  #gameStats p {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
  }

  #minesOnBoard {
      color: red
  }

  #flagsRemaining {
      color: blue
  }

  /* Game board ----------------------------------- */

  #gameBoard {
      opacity: 0;
      display: grid;
      justify-content: center;
      margin-bottom: 100px;
      margin-top: 50px
  }

  .cell {
    background-color: #d9d9d9;
    border: 2px solid black;
    cursor: pointer;
    opacity: 1;
   }

   .cell:hover {
       opacity: .6
   }

   .adjacentMines {
       margin: 5px 10px;
       color: red;
       font-size: 24px;
   }

   /* End of game modal ------------ */

   #endMessage {
       position: relative;
   }

   .youLose {
    animation: gameOver 1s infinite;
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center

   }

   @keyframes gameOver {
    0%{color:lime; text-shadow:0 0 20px green}
    25%{color:green; text-shadow:2px 2px 2px lime; transform: translate(-2px,1px)}
    40%{color:lime; text-shadow:none; transform: translate(0,0)}
    50%{color:green; text-shadow:5px 5px 2px blue, -5px -5px 2px red; transform: translate(0px,5px)}
    70%{color:lime; text-shadow:none; transform: translate(0,0)}
    80%{color:lime; text-shadow:0 0 20px green; transform: translate(-2px,1px)}
    100%{color:lime; text-shadow:none;}
  }

  .youWin {
    font-size: 30px;
    color: blue;
    font-family: cursive;
    margin-left: 30%;
    color: blue;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }   
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


   .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation-name: modalFade;
    animation-duration: 1s;
   }

   @keyframes modalFade {
       from {opacity: 0}
       to {opacity: 1}
   }

   @media screen and (max-width: 1075px), screen and (min-width: 1275px) {
    #endMessage, .modalFlex {
           display: flex;
           flex-direction: column
       }
   }

  #endGame-content {
    background-color: #B22222;
    margin: auto;
    padding: 20px;
    border: 5px solid #888;
    width: 30%;
  }

  #playAgain {
      float: left
  }

  #changeDifficulty {
      float: right
  }

  .closeModal {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-Top: 6%;
    margin-bottom: 20px;
  }

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#addHighScore {
  width: fit-content;
  height: 50px;
  position: relative;
}

::placeholder {
  color: red;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px
}

#addScoreButton {
  width: fit-content;
  height: 50px;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  color: green;
}