body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkkhaki;
}

.title {
    color: rgb(0, 139, 132);
    margin-left: 40%;
    font-size: 36px;
    font-family: Arial Black;
    letter-spacing: 1px;
}

/* level selection ------------------------------------- */

#newGame {
    margin-left: 40%;
}

.levelSelectionButtons {
    display: flex;
    flex-direction: column;
}

.levelSelectionButton {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .levelSelectionButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .levelSelectionButton:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .levelSelectionButton input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .levelSelectionButton input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .levelSelectionButton .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }



  /* Game rules ----------------------------------- */

  #gameRules {
    opacity: 0
  }

  /* Game stats ----------------------------------- */

  #gameStats {
    opacity: 0
  }

  #minesOnBoard {
      color: red
  }

  #flagsRemaining {
      color: blue
  }

  /* Game board ----------------------------------- */

  #gameBoard {
      opacity: 0;
      display: grid;
      justify-content: center;
  }

  .cell {
    background-color: #d9d9d9;
    border: 2px solid black;
    cursor: pointer;
    opacity: 1;
   }

   .cell:hover {
       opacity: .6
   }

   .adjacentMines {
       margin: 0 auto;
       color: blue;
       font-size: 20px;
   }